In [1]:
import numpy as np
import sys
from copy import deepcopy
import matplotlib.pyplot as plt
import pandas as pd
from classevy import StudentGroup, Klas, Plan, PlanPopulation

# 1. Upload the csv file (or later xlsx)

In [2]:
students = StudentGroup('../data/students.csv')

## backend:
- verify the data
- obtain columns which can be optimized for (spread_... + preferences_satisfied)
    - where to get this info? from student or plan or population???

# 2. Select the columns to optimize

# 3. Hit GO

## backend:
1. create a list of 20 plans
2. create a population with the correct goals
3. define the DNA property
4. run for a number of generations
5. sort the pareto front by sum and optionally display
6. optionally: let user choose solution
7. present solution for download

In [6]:
plans = [Plan(students, 2) for _ in np.arange(20)]

In [7]:
pop = Population(plans, goals_dict={
                                    'spread_gender':'min',
                                    'spread_score_math':'min',
                                    'spread_score_spelling':'min',
                                    'spread_size':'min'
                                   },
                conditions = ['assignment_check'])

In [8]:
def get_dna(self):
    return self.assignment
def set_dna(self, val):
    setattr(self, 'assignment', val)
    self.init_students_df()
    self.do_assignment()
    self.improve_preferences()

Plan.dna = property(fget = get_dna, fset = set_dna)
Plan.parent_props = ['students', 'n_classes']

In [9]:
pop1 = pop
pop1.plot_pareto()
n_pop = 10
summaries = []
for gen in np.arange(n_pop):
    pop1.make_offspring()
    pop1.trim()
    summaries.append(pop1.summary())

In [23]:
front = pop.pareto()

In [25]:
front['sum'] = sum([front[col] for col in pop.goals_names])

In [26]:
front.sort_values('sum')

,Individual,spread_gender,spread_score_math,spread_score_spelling,spread_size,assignment_check,sum
9,<classevy.klas.Plan object at 0x1208d0d90>,0.098901,0.519231,0.098901,0.5,True,1.217033
1,<classevy.klas.Plan object at 0x11fbb2250>,0.098901,0.445055,0.247253,0.5,True,1.291209
3,<classevy.klas.Plan object at 0x11f4c6d10>,0.049451,0.815934,0.049451,0.5,True,1.414835
18,<classevy.klas.Plan object at 0x1208cb950>,0.346154,0.593407,0.197802,0.5,True,1.637363
0,<classevy.klas.Plan object at 0x11fb9b650>,0.098901,0.815934,0.247253,0.5,True,1.662088
11,<classevy.klas.Plan object at 0x120854490>,0.494505,0.741758,0.197802,0.5,True,1.934066
13,<classevy.klas.Plan object at 0x120830a90>,0.346154,0.89011,0.197802,0.5,True,1.934066
5,<classevy.klas.Plan object at 0x120892e90>,0.15,0.375,0.0,1.5,True,2.025
6,<classevy.klas.Plan object at 0x11fe59c10>,0.0,0.525,0.075,1.5,True,2.1
10,<classevy.klas.Plan object at 0x11d96cf50>,0.0,0.525,0.075,1.5,True,2.1
12,<classevy.klas.Plan object at 0x11d94e810>,0.494505,0.964286,0.346154,0.5,True,2.304945
7,<classevy.klas.Plan object at 0x120838a10>,0.0,0.75,0.225,1.5,True,2.475
4,<classevy.klas.Plan object at 0x11d9a4c90>,0.3,0.825,0.0,1.5,True,2.625
16,<classevy.klas.Plan object at 0x120804050>,0.3,0.3,0.6,1.5,True,2.7
8,<classevy.klas.Plan object at 0x11fbb7990>,0.204545,0.306818,0.511364,2.5,True,3.522727
17,<classevy.klas.Plan object at 0x11da33250>,0.204545,0.306818,0.511364,2.5,True,3.522727
2,<classevy.klas.Plan object at 0x11da339d0>,0.357955,0.230114,0.511364,2.5,True,3.599432
15,<classevy.klas.Plan object at 0x11fe86690>,0.052941,0.317647,0.185294,3.5,True,4.055882
19,<classevy.klas.Plan object at 0x11fccb5d0>,0.296053,0.266447,0.059211,5.5,True,6.121711
14,<classevy.klas.Plan object at 0x1208d0c10>,0.414474,0.266447,0.414474,5.5,True,6.595395

In [27]:
best_plan = front.sort_values('sum').iloc[0].values[0]

In [28]:
best_plan.classes_gender

[0.23076923076923078, 0.42857142857142855]

In [29]:
students['gender'].mean()

0.3333333333333333

In [30]:
best_plan.classes[0].print_names()

pol
katrien
mo
ahmed
pius
darius
mario
peter
pier
sanne
carla
clara
klara

In [31]:
best_plan.classes[1].print_names()

luuk
pat
jos
tia
karl
siem
marius
maria
marie
pieter
pieter
maarten
rinus
karla

In [32]:
best_plan.classes_size

[13, 14]

In [33]:
best_plan.classes_gender

[0.23076923076923078, 0.42857142857142855]

In [35]:
best_plan.classes_score_math

[6.461538461538462, 7.5]

In [36]:
best_plan.check_assignment()

True

In [37]:
for plan in front['Individual']:
    print(plan.check_assignment())

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [38]:
best_plan.students

,name,score_math,score_spelling,gender,learning_advantage,not_together,together,preferences,options,dna_assignment,final_assignment,pref_satisfied
number,,,,,,,,,,,,
1,luuk,10,8,1,1,"(4,)","(2,)","(3, 6, 17)",[1],1,1.0,1.0
2,pat,9,7,1,0,(),"(1,)","(5, 9, 27)",[1],0,1.0,1.0
3,jos,8,6,1,0,"(6,)",(),"(2, 1, 21)",[1],0,1.0,3.0
4,pol,7,9,1,0,"(1,)",(),"(5, 6, 7)",[0],0,0.0,2.0
5,katrien,6,7,-1,0,(),(),"(6, 7, 23)","[0, 1]",0,0.0,1.0
6,mo,5,5,1,0,"(3, 8)",(),"(12, 5, 25)",[0],0,0.0,3.0
7,tia,6,7,-1,0,(),"(8,)","(8, 17, 23)",[1],1,1.0,2.0
8,karl,7,4,1,0,"(6,)","(7,)","(9, 27, 14)",[1],1,1.0,1.0
9,siem,8,3,1,0,(),(),"(10, 18, 19)","[0, 1]",1,1.0,1.0
10,ahmed,8,8,1,0,(),"(11,)","(12, 5, 25)",[0],0,0.0,3.0
11,pius,5,6,1,0,(),"(10,)","(2, 4, 6)",[0],0,0.0,2.0
12,darius,4,5,1,-1,"(20,)",(),"(10, 18, 19)",[0],1,0.0,2.0
13,marius,6,7,1,0,(),(),"(5, 6, 7)","[0, 1]",1,1.0,1.0
14,mario,9,6,1,0,(),(),"(1, 3, 5)","[0, 1]",0,0.0,1.0
15,maria,7,8,-1,0,(),(),"(5, 6, 7)","[0, 1]",1,1.0,1.0
16,marie,8,9,-1,0,(),(),"(3, 6, 17)","[0, 1]",1,1.0,1.0
17,peter,9,8,1,0,(),(),"(9, 13, 14)","[0, 1]",0,0.0,1.0
18,pieter,10,7,1,1,(),(),"(2, 1, 21)","[0, 1]",1,1.0,3.0
19,pier,6,6,1,0,(),(),"(7, 19, 17)","[0, 1]",0,0.0,2.0
20,pieter,8,7,1,0,"(12,)",(),"(3, 22, 1)",[1],0,1.0,2.0
21,maarten,6,8,1,0,(),(),"(3, 6, 17)","[0, 1]",1,1.0,1.0
22,sanne,7,7,-1,0,(),(),"(4, 8, 9)","[0, 1]",0,0.0,1.0
23,rinus,8,6,1,0,(),(),"(5, 8, 10)","[0, 1]",1,1.0,1.0
24,karla,4,5,-1,0,(),(),"(10, 11, 16)","[0, 1]",1,1.0,1.0
25,carla,5,6,-1,0,(),(),"(6, 7, 23)","[0, 1]",0,0.0,1.0
26,clara,6,7,-1,0,(),(),"(6, 7, 23)","[0, 1]",0,0.0,1.0
27,klara,7,8,-1,0,(),(),"(9, 11, 19)","[0, 1]",0,0.0,2.0

In [39]:
pop.summary()

{'spread_gender': 0.2153992737139022,
 'spread_score_math': 0.5390003040689961,
 'spread_score_spelling': 0.2375243409840933,
 'spread_size': 1.75,
 'assignment_check': 1.0}